*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body{
    background-color:#8a51fc;
    padding-bottom: 20px;
}

.logo{
    display: block;
    margin: 20px auto;
}

main{
    display: block;
    margin: 0 auto;
    background-color: #FFFFFF;
    width: 350px;
    border-radius: 20px;
    padding: 15px;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
label{
    margin: 15px 0;
}

select{
    height: 48px;
    width: 100%;
    border: none;
    background-color: rgb(194, 189, 189);
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    appearance: none;
}

input{
    height: 48px;
    width: 100%;
    border: none;
    background-color: rgb(194, 189, 189);
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
}

button{
    height: 48px;
    background-color: #8a51fc;
    border: none;
    color: #FFFFFF;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 18px;
}

.flags{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #8a51fc;
    border-radius: 15px;
    padding: 20px;
    gap: 10px;
}
   .flags p{
    font-size: 18px;
    font-weight: 700;
    color: gray;
   }
